*{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  text-decoration: none;
}

header {
  width: 100%;
  height: 40px;
  background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  list-style: none;
}

header nav li {
  padding: 0px 10px;
}

header nav li a {
  color: white;
}

.cover-head {
  width: 100%;
  height: 150px;
  background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-head a {
  color: white;
}

.main-container {
  width: 100%;
  background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box-container {
  flex-basis: 25%;
  height: 300px;
  padding: 0px 10px;
  margin: 15px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-container img {
  width: 80px;
  height: 80px;
}

.special {
  background: transparent;
}

footer {
  width: 100%;
  height: 30px;
  background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer h2 {
  color: white;
  font-weight: 200;
}
